@charset "utf-8";
body{margin:0 auto; font-family:Verdana, Geneva, sans-serif;font-size: 14px; background: url(images/fon1.jpg);background-attachment: fixed;
		word-wrap: break-word;
		  }
.top-line{background: #39F; width:100%;}
.Telefon{width: 960px;margin: 0 auto; color: #FFF;padding-top: 10px;padding-bottom: 10px;}
.bara{
		
		height: 60px;
		text-align: left;
		background-attachment: fixed;
		font-style: oblique;

	}
.logo{ width: 300px; float: left }
.menu-top{ width: 600px; float: left }
.nav-top{width: 960px;margin: 0 auto;padding-top: 20px;}
#menu-top{list-style-type: none;}
#menu-top li{float:left; margin-left: 15px; margin-right: 15px; font-size: 20px ;padding-top: 30px; }
#menu-top li a{color:#09F;text-decoration: none; }
.alegere{width: 800px; margin: 0 auto; height: 364px;padding-top: 150px;}
.foto{width: 364px; float: right;}
#zag-top{color: #C0C0C0; font-size: 30px; font-style: oblique;  }